@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.newshadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@font-face {
  font-family: "Proxima Nova Rg";
  src: url("/Proxima Nova Font.woff2") format("woff2"), 
       url("/Proxima Nova Font.woff") format("woff"), 
       url("/Proxima Nova Font.otf") format("opentype"); /* Specify the correct format */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Apply to all elements */
* {
  font-family: "Proxima Nova Rg", sans-serif;
}

  
.info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 300px;
  background-color: rgb(182, 58, 58);

  animation: cover 0.1s 0;
}

@keyframes cover {
  0% {
    top: 250px;
  }
  25% {
    top: 200px;
  }
  50% {
    top: 150px;
  }
  75% {
    top: 100px;
  }
  100% {
    top: 50px;
  }
}

.no-scroll {
  overflow: hidden !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }


}
